<div class="kalawrap">

  <h1>Uh oh...</h1>

  <p>It seems we've run into an unexpected error. Please open up a ticket at https://github.com/kalamuna/kalabox/issues and paste in the contents below./p>

  <textarea class="log-contents mousetrap"><%= logContents %></textarea>

</div>

<script src="/js/libs/mousetrap.min.js"></script>
<script src="/js/keyboard-copy.js"></script>
<script src="/js/errors.js"></script>
