<div class="kalawrap">

  <h1>Uh oh...</h1>

  <p>It seems we've run into an unexpected error. If you wouldn't mind emailing the error log contents below to
     errors@kalamuna.com, we'll forever attest to your awesomeness.</p>

  <textarea class="log-contents mousetrap"><%= logContents %></textarea>

</div>

<script src="/js/libs/mousetrap.min.js"></script>
<script src="/js/keyboard-copy.js"></script>
<script src="/js/errors.js"></script>
