<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/js/libs/jquery-1.9.1.min.js"></script>
    <script src="/js/libs/bootstrap-tab.js"></script>
  </head>

  <body>
    <%- body %>
  </body>
</html>
