<div class="kalawrap">

  <h1>Uh oh...</h1>

  <p>Looks like you don't have an active internet connection. Please re-connect and try installing Kalabox again.</p>

</div>

<script src="/js/errors.js"></script>