<div class="kalawrap">

  <h1>How Much Security is Too Much?</h1>

  <p>We've detected that you have your firewall set to block all incoming connections.
  Unfortunately, this prevents Kalabox's virtual server from communicating with your computer.
  If you'd like to continue the installation, please exit the installer, disable the
  "block all incoming connections" setting on your firewall, and restart the installer.</p>

</div>
