<div class="kalawrap">

  <h1>You Don't Trust <em>US</em>?</h1>

  <p>You didn't give us permission to download a Kalabox dependency. Unfortunately, this means no Kalabox for you. If you change your mind, re-run the installer and we'll welcome you back with open arms.</p>

</div>

<script src="/js/errors.js"></script>