<div class="kala-modal vagrant-error-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Updates Available</h3>
  </div>

  <div class="modal-body">
    <p>Updates to Kalabox are available. Would you like to update now?</p>
    <p>Please note that the Kalabox server will shut down while updates are running.</p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: runUpdates">Run Updates</button>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Maybe Later</button>
  </div>
</div>
