<div class="kalawrap">
  <div style="margin-top: 20px;">
    <div class="tabbable">
      <!-- Only required for left/right tabs -->
      <ul class="nav nav-pills">
        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#sites" data-toggle="tab">Sites</a></li>
        <!--<li><a href="#pantheon" data-toggle="tab">Pantheon</a></li>-->
        <!--<li><a href="#tools" data-toggle="tab">Tools</a></li>-->
        <!--<li><a href="#code" data-toggle="tab">Commands</a></li>-->
        <!--<li><a href="#deploy" data-toggle="tab">Deploy</a></li>-->
        <li><a href="#config" data-toggle="tab">Configure</a></li>
      </ul>
      <hr>

      <div class="tab-content">
        <div class="tab-pane active row-fluid" id="home">
          <div class="col-6">
            <a href="#" data-bind="click: serviceButton.onClick, disable: serviceButton.disabled" target="startSiteButton">
              <svg id="logo" class="centered kalalogo" height="268" width="268" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                <image x="0" y="0" height="268" width="268"  xlink:href="/images/kalabox-logo.svg" />
              </svg>
            </a>
            <p class="lead text-center" style="margin-top: 10px;">
              Oh Hello There.
            </p>
            <div class="equidistant-row service-links">
              <a href="#" data-bind="click: serviceButton.onClick, disable: serviceButton.disabled" target="phpMyAdminButton">DB</a> |
              <a href="#" data-bind="click: serviceButton.onClick, disable: serviceButton.disabled" target="webGrindButton">Grind</a> |
              <a href="#" data-bind="click: serviceButton.onClick, disable: serviceButton.disabled" target="picardButton">Engage</a>
            </div>
          </div>
          <div class="col-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Thing</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody data-bind="foreach: statusDisplays">
                <tr data-bind="css: {success: running, danger: notRunning}">
                  <td data-bind="text: title"></td>
                  <td data-bind="text: message"></td>
                </tr>
              </tbody>
              <tr class="alert alert-success">
                <td>SSH Keys</td>
                <td>Installed</td>
              </tr>
              <tr class="alert alert-info">
                <td>Apache Solr</td>
                <td>Coming Soon</td>
              </tr>
              <tr class="alert alert-info">
                <td>Webroot</td>
                <td>~/kalabox/www</td>
              </tr>
              <tr class="alert alert-info">
                <td>Happiness</td>
                <td>Maximal</td>
              </tr>
            </table>
            <div class="equidistant-row">
              <button href="#" class="btn"
                data-bind="text: powerButton.label, click: powerButton.onClick, disable: powerButton.disabled,
                css: {'btn-success': $root.boxStopped, 'btn-danger': $root.boxRunning}">
              </button>
              <button href="#" class="btn btn-primary"
                data-bind="click: sshButton.onClick, disable: sshButton.disabled">
                SSH
              </button>
              <button href="#" class="btn btn-primary"
                data-bind="click: foldersButton.onClick, disable: foldersButton.disabled">
                Shared Folders
              </button>
              <a href="#" class="btn-help"
                data-bind="click: helpButton.onClick">
                <i class="icon-question-sign icon-3"></i>
              </a>
            </div>
          </div>

        </div>

        <div class="tab-pane" id="sites">
          <div class="no-sites" data-bind="visible: !builtSites().length && !unbuiltSites().length">
            <h1>How Strange!</h1>
            <p id="info" class="lead">It seems like you have no sites
              locally.</p>
            <p class="lead">Do you wish to spin one up?</p>
            <a class="btn btn-large btn-success btn-massive" href="#">Yes,
              I do.</a>
          </div>
          <table class="table" data-bind="visible: builtSites().length">
            <thead>
              <tr>
                <th>Enabled Sites</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: builtSites">
              <tr>
                <td>
                  <a href="#" data-bind="text: name, click: $root.openSite"></a>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table" data-bind="visible: unbuiltSites().length">
            <thead>
              <tr>
                <th>Sites Available to Build</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: unbuiltSites">
              <tr>
                <td data-bind="text: aliasName"></td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="pantheon">
          <div style="height: 315px;">
            <div class="well">
              <div class="pull-right" style="width: 300px;">
                <h2>kalademo</h2>
                <a id="kalademo-build" class="btn btn-primary" href="#">Build
                  this site locally.</a>
                <div id="kalademo-progress"
                  class="progress progress-striped active"
                  style="width: 200px;">
                  <div class="bar" style="width: 0%;"></div>
                </div>
                <a id="kalademo-launch" class="btn btn-success"
                  target="_blank" href="http://kalademo.kala">Launch!</a>
              </div>
              <div class="pull-left">
                <img src="/images/kalademo.png" width="200">
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="code">
          <div style="height: 315px;">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Command</th>
                  <th>Info</th>
                </tr>
              </thead>
              <tr class="">
                <td>drush build SITENAME.dev</td>
                <td>Will build your pantheon site</td>
              </tr>
              <tr class="">
                <td>drush krefresh SITENAME.dev</td>
                <td>Will rebuild your pantheon site</td>
              </tr>
              <tr class="">
                <td>drush crush SITENAME.dev</td>
                <td>Will remove SITENAME.dev</td>
              </tr>
              <tr class="">
                <td>drush code SITENAME.dev</td>
                <td>Will get your pantheon codebase</td>
              </tr>
              <tr class="">
                <td>drush data SITENAME.dev</td>
                <td>Will get your pantheon database</td>
              </tr>
              <tr class="">
                <td>drush files SITENAME.dev</td>
                <td>Will sync your pantheon file</td>
              </tr>
              <tr class="">
                <td>drush kala</td>
                <td>Will list these commands</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="tab-pane" id="deploy">
          <div style="height: 315px;">
            <div class="hero-unit">
              <h2>Future Magic</h2>
              <p class="lead">Deploy your site to Pantheon, Acquia,
                Rackspace</p>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="config">
          <div style="height: 315px;">
            <h2>Configure Your Box</h2>
            <div class="alert alert-danger" data-bind="text: configError, visible: configError() !== ''"></div>
            <div class="alert alert-success" data-bind="text: configSuccess, visible: configSuccess() !== ''"></div>
            <h3>Drush aliases:</h3>
            <div id="alias-file-drop" class="well">Drag here to upload.</div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <hr>
</div>

<div id="dash-modal" class="modal hide fade" role="dialog">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Ok</button>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/knockout-2.2.1.js"></script>
<script src="/js/libs/bootstrap-modal.js"></script>
<script src="/js/dash.js"></script>
