<div class="kalawrap">
  <div style="margin-top: 20px;">
    <div class="tabbable">
      <!-- Only required for left/right tabs -->
      <ul class="nav nav-pills">
        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#sites" data-toggle="tab">My Sites</a></li>
        <li><a href="#config" data-toggle="tab">Configure</a></li>
      </ul>
      <hr>

      <!-- Home Tab -->
      <div class="tab-content">
        <div class="tab-pane active row-fluid" id="home">
          <div class="col-6">
            <a href="#" data-bind="click: serviceButton.onClick, disable: serviceButton.disabled" target="startSiteButton">
              <svg id="logo" class="centered kalalogo" height="268" width="268" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                <image x="0" y="0" height="268" width="268"  xlink:href="/images/kalabox-logo.svg" />
              </svg>
            </a>
            <p class="lead text-center" style="margin-top: 10px;">
              Oh Hello There.
            </p>
            <div class="equidistant-row service-links">
              <a href="#" data-bind="click: serviceButton.onClick, disable: serviceButton.disabled" target="phpMyAdminButton">Databases</a> |
              <a href="#" data-bind="click: serviceButton.onClick, disable: serviceButton.disabled" target="webGrindButton">Profiler</a> |
              <a href="#" data-bind="click: serviceButton.onClick, disable: serviceButton.disabled" target="picardButton">Engage</a>
            </div>
          </div>
          <div class="col-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Thing</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody data-bind="foreach: statusDisplays">
                <tr data-bind="css: {success: running, danger: notRunning}">
                  <td data-bind="text: title"></td>
                  <td data-bind="text: message"></td>
                </tr>
              </tbody>
              <tr class="alert alert-info">
                <td>Solr Search</td>
                <td>Coming Soon</td>
              </tr>
              <tr class="alert alert-success">
                <td>Sites Enabled</td>
                <td>0</td>
              </tr>
              <tr class="alert alert-success">
                <td>Sites Available</td>
                <td>0</td>
              </tr>
              <tr class="alert alert-success">
                <td>Happiness</td>
                <td>Maximal</td>
              </tr>
            </table>
            <div class="equidistant-row">
              <button href="#" class="btn"
                data-bind="html: powerButton.label, click: powerButton.onClick, disable: powerButton.disabled,
                css: {'btn-success': $root.boxStopped, 'btn-danger': $root.boxRunning} ">
              </button>
              <button href="#" class="btn btn-primary"
                data-bind="click: sshButton.onClick, disable: sshButton.disabled">
                SSH
              </button>
              <button href="#" class="btn btn-primary"
                data-bind="click: foldersButton.onClick, disable: foldersButton.disabled">
                My Code
              </button>
              <a href="#" class="btn-help"
                data-bind="click: helpButton.onClick">
                <i class="icon-question-sign icon-3"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End Home Tab -->

        <!-- My Sites Tab -->
        <div class="tab-pane" id="sites">
          <div class="no-sites" data-bind="visible: !builtSites().length && !unbuiltSites().length">
            <h1>How Strange!</h1>
            <p id="info" class="lead">It seems like you have no sites
              locally.</p>
            <p class="lead">Do you wish to spin one up?</p>
            <a class="btn btn-large btn-success btn-massive" href="#">Yes,
              I do.</a>
          </div>
          <div class="alert alert-info" data-bind="visible: newSiteForm.building">
            Your new site's coming up! It will be ready in a few minutes.
          </div>
          <button class="btn btn-success" data-bind="click: newSiteForm.openForm">Build a New Site</button>
          <table class="table" data-bind="visible: builtSites().length">
            <thead>
              <tr>
                <th>Enabled Sites</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: builtSites">
              <tr>
                <td>
                  <a href="#" data-bind="text: name, click: $root.openSite"></a>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table" data-bind="visible: unbuiltSites().length">
            <thead>
              <tr>
                <th>Sites Available to Build</th>
              </tr>
            </thead>
            <tbody data-bind="foreach: unbuiltSites">
              <tr>
                <td data-bind="text: aliasName"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End My Sites Tab -->

        <!-- Config Tab -->
        <div class="tab-pane" id="config">
          <div style="height: 371px;">
            <table cellpadding="0" cellspacing="0" class="alias-upload-container">
              <tbody>
                <tr>
                  <td class="alias-td">
                    <table id="alias-file-drop" cellpadding="0" cellspacing="0" class="alias-upload-container">
                      <tbody>
                        <tr>
                          <td>
                            <div>Drag Pantheon alias file here.</div>
                            <div class="alert alert-danger" data-bind="visible: configError() !== ''">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <div data-bind="text: configError"></div>
                            </div>
                            <div class="alert alert-success" data-bind="visible: configSuccess() !== ''">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <div data-bind="text: configSuccess"></div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Config Tab -->
      </div> <!-- End Tab Content -->

    </div> <!-- End Tabbable -->
    <hr>
  </div><!-- End Margin -->
</div><!-- End Kalawrap -->

  <div id="dash-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title" data-bind="text: modal.title"></h3>
        </div>
        <div class="modal-body" data-bind="template: {name: modal.template()}">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="text: modal.button"></button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/knockout-2.2.1.js"></script>
<script src="/js/libs/bootstrap-modal.js"></script>
<script src="/js/libs/bootstrap-alert.js"></script>
<script src="/js/dash.js"></script>

<script type="text/html" id="vagrant-error">
  Looks like the box wasn't quite ready. Please try again in a moment.
  If the problem persists, please let us know at errors@kalamuna.com.
</script>
