<div class="kalawrap">
  <div style="margin-top: 20px;">
    <div class="tabbable">
      <!-- Only required for left/right tabs -->
      <button class="btn btn-success pull-right" data-bind="click: sites.newSiteForm.openForm, disable: sites.newSiteButton.disabled"><i class="icon-plus"></i></button>
      <ul id="dashtabs" class="nav nav-pills">
        <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
        <li><a href="#sites" data-toggle="tab" data-bind="visible: sites.sitesButton.visible">My Sites</a></li>
        <li><a href="#config" data-toggle="tab">Configure</a></li>
      </ul>
      <hr>

      <!-- Home Tab -->
      <div class="tab-content">
        <div class="tab-pane active row-fluid" id="home">
          <div class="col-6">
            <a href="#" data-bind="click: controls.serviceButton.onClick, disable: controls.serviceButton.disabled" target="startSiteButton">
              <svg id="logo" class="centered kalalogo" height="268" width="268" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" >
                <image x="0" y="0" height="268" width="268"  xlink:href="/images/kalabox-logo.svg" />
              </svg>
            </a>
            <p class="lead text-center" style="margin-top: 10px;">
              Oh Hello There.
            </p>
            <div class="equidistant-row service-links" data-bind="with: controls">
              <a href="#" data-bind="click: serviceButton.onClick, visible: serviceButton.visible" target="phpMyAdminButton">Databases</a>
              <a href="#" data-bind="click: serviceButton.onClick, visible: serviceButton.visible" target="webGrindButton">Profiler</a>
              <a href="#" data-bind="click: serviceButton.onClick, visible: serviceButton.visible" target="picardButton">Engage</a>
            </div>
          </div>
          <div class="col-6">
            <table class="table">
              <thead>
                <tr>
                  <th>Thing</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody data-bind="foreach: statusMonitor.statusDisplays">
                <tr data-bind="css: {success: running, danger: notRunning}">
                  <td data-bind="text: title"></td>
                  <td data-bind="text: message"></td>
                </tr>
              </tbody>
              <tr class="alert alert-info">
                <td>Solr Search</td>
                <td>Coming Soon</td>
              </tr>
              <tr class="alert alert-info">
                <td>Warp Factor</td>
                <td>9</td>
              </tr>
              <tr class="alert alert-info">
                <td>Spirit Animal</td>
                <td>Fire Phoenix</td>
              </tr>
              <tr class="alert alert-success">
                <td>Happiness</td>
                <td>Maximal</td>
              </tr>
            </table>
            <div class="equidistant-row" data-bind="with: controls">
              <button href="#" class="btn"
                data-bind="html: powerButton.label, click: powerButton.onClick, disable: powerButton.disabled,
                css: {'btn-success': $root.statusMonitor.boxStopped, 'btn-danger': $root.statusMonitor.boxRunning} ">
              </button>
              <button href="#" class="btn btn-primary"
                data-bind="click: sshButton.onClick, disable: sshButton.disabled">
                SSH
              </button>
              <button href="#" class="btn btn-primary"
                data-bind="click: foldersButton.onClick, disable: foldersButton.disabled">
                My Code
              </button>
              <a href="#" class="btn-help"
                data-bind="click: helpButton.onClick">
                <i class="icon-question-sign icon-3"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- End Home Tab -->

        <!-- My Sites Tab -->
        <div class="tab-pane" id="sites">

          <div class="alert alert-info alert-padright" data-bind="visible: sites.buildingInProgress">
            <i class="icon-spinner icon-spin icon-large"></i>
            Your site's coming right up! Please Standby.
          </div>
          <div class="row">
            <div data-bind="foreach: sites.builtSites">
              <div class="site-box">
                <a href="#" data-bind="click: $root.sites.openSite">
                  <img class="centered" src="/images/kalaboxv2-site.png" height="150" width="150" />
                  <div class="site-label" data-bind="text: name"></div>
                  <i class="icon-cogs site-operations-button" data-bind="click: $root.sites.operations.openControls, clickBubble: false"></i>
                </a>
              </div>
            </div>
            <div data-bind="foreach: sites.unbuiltSites">
              <div class="site-box">
                <a href="#" data-bind="click: $root.sites.remoteSiteBuilder.onClick">
                  <img class="centered grayscale" src="/images/kalaboxv2-site.png" height="150" width="150" data-bind="visible: aliasName != $root.sites.siteInProgress()"/>
                  <i class="icon-spinner icon-spin icon-large" data-bind="visible: aliasName == $root.sites.siteInProgress()"></i>
                  <div class="site-label" data-bind="text: aliasName"></div>
                </a>
              </div>
            </div>
          </div>

        </div>
        <!-- End My Sites Tab -->

        <!-- Config Tab -->
        <div class="tab-pane" id="config">
          <div style="height: 371px;">
            <table cellpadding="0" cellspacing="0" class="alias-upload-container">
              <tbody>
                <tr>
                  <td class="alias-td">
                    <table id="alias-file-drop" cellpadding="0" cellspacing="0" class="alias-upload-container">
                      <tbody>
                        <tr>
                          <td data-bind="with: aliasUploader">
                            <div>Drag Pantheon alias file here.</div>
                            <div class="alert alert-danger" data-bind="visible: configError() !== ''">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <div data-bind="text: configError"></div>
                            </div>
                            <div class="alert alert-success" data-bind="visible: configSuccess() !== ''">
                              <button type="button" class="close" data-dismiss="alert">&times;</button>
                              <div data-bind="text: configSuccess"></div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- End Config Tab -->
      </div> <!-- End Tab Content -->

    </div> <!-- End Tabbable -->
    <hr>
  </div><!-- End Margin -->
</div><!-- End Kalawrap -->

<div id="dash-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" data-bind="template: {name: modal.template()}">
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="/socket.io/socket.io.js"></script>
<script src="/js/libs/knockout-2.2.1.js"></script>
<script src="/js/libs/bootstrap-modal.js"></script>
<script src="/js/libs/bootstrap-alert.js"></script>
<script src="/js/dash-compiled.js"></script>
