<div class="kalawrap">
  <hr>
  <div class="jumbotron">
    <h1>Oh Hello.</h1>
    <p id="info" class="lead">Kalabox mixes VirtualBox and Vagrant into
      its hot bubbling cauldron of Deep Dark Magic. However, Kalabox
      wouldn't dare brew this stew without the express virtual consent
      of you the user. Ergo, click below and let's make this baby go!*</p>
    <a class="btn btn-large btn-success btn-massive" href="install">Box me</a>

  </div>
  <hr>
  <p>
    <small>* To be 100% explicit if you click the button you agree to
      the download and installation of <a target="_blank"
      href="https://www.virtualbox.org/">VirtualBox</a> and <a
      target="_blank" href="http://www.vagrantup.com/">Vagrant</a><a
      href="dash">.</a>
    </small>
  </p>
</div>
