<hr>
<div class="jumbotron">
  <h1>Oh Hello.</h1>
  <p class="lead">Kalabox mixes VirtualBox and Vagrant into its hot
    bubbling cauldron of Deep Dark Magic. However, Kalabox wouldn't dare
    brew this stew without the expressed virtual consent of you the
    user. Ergo, click below and let's make this baby go!*</p>
  <a class="btn btn-large btn-success" href="start">Box me</a>

</div>
<hr>
<p>
  <small>* To be 100% explicit if you click the button you agree to the
    download and installation of VirtualBox and Vagrant. </small>
</p>

