/* Copyright 2013 Kalamuna LLC */

a.btn-help {
  text-decoration: none;
}

.icon-question-sign.icon-3 {
  font-size: 30px;
  vertical-align: bottom;
}

.centered {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

div.service-links.equidistant-row {
  max-width: 200px;
  margin: 0 auto;
}

.equidistant-row {
  text-align: justify;
}

.equidistant-row .btn {
  display: inline-block;
}

.equidistant-row:after {
  content: '';
  width: 100%;
  display: inline-block;
}

img.kalalogo {
  width: 250px;
  height: 250px;
  margin-top: 10px;
}

/* Start Screen */

.kalatron {
  margin: 40px 0;
  text-align: center;
}

.kalatron h1 {
  font-size: 72px;
  line-height: 1;
}

.kalatron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.kalatron .lead {
  font-size: 21px;
}

/* Kala Colors */

.kalagreen {
  color: #afd357;
}

.kalablue {
  color: #74b2e5;
}

.kalared {
  color: #ed6f90;
}

.kalapurple {
  color: #8a64a8;
}

.kalaorange {
  color: #faac48;
}

.kalayellow {
  color: #ffed90;
}

.icon-massive {
  font-size: 280px;
}

.icon-site-size {
  font-size: 150px;
}

.icon-kalabox {
  width: 280px;
  height: 280px;
  background-image: url('/images/kalabox-logo.svg');
  background-size: 280px 280px;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.kalawrap {
  padding-left: 20px;
  padding-right: 20px;
}

.install #icoco {
  padding-top: 25px;
  padding-bottom: 15px;
}

.install .lead {
  margin-bottom: 40px;
  font-size: 30px;
}

.start .kalatron {
  margin: 70px 0;
}

.btn-massive {
  width: 200px;
}

small {
  color: #999;
  font-size: 11px;
}

.nav-pills>.active>a,.nav-pills>.active>a:hover,.nav-pills>.active>a:focus
  {
  background-color: #afd357;
}

/* Error page */

.log-contents {
  width: 95%;
  height: 200px;
  margin: 0 auto;
}

/* Sites page */

.no-sites {
  text-align: center;
}

#sites {
  height: 371px;
  overflow-y: scroll;
}

.site-box {
  width: 188px;
  height: 200px;
  float: left;
  border: 1px solid #eee;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 10px;
  position: relative;
}

.site-box.site-unbuilt a {
  color: #666;
}

.site-box .site-label {
  position: absolute;
  bottom: 10px;
}

.site-operations-button {
  float: right;
}

.alert-padright {
  width: 615px;
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.site-label {
  margin-top: 10px;
}

/* Modal */

.license.modal textarea.license-agreement {
  height: 225px;
  width: 540px;
}

.license .modal-content {
  width: auto;
}

.modal {
  overflow-y: hidden;
}

.modal-content {
  width: 400px;
}

/* Alias Upload Form */

.alias-upload-container {
  height: 100%;
  width: 100%;
  position: relative;
  border-spacing: 20px;
}

.alias-upload-container tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.alias-upload-container tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td.alias-td {
  border: #ddd 4px dashed;
  border-radius: 2px;
  width: 100%;
  text-align: center;
  position: relative;
  font-size: 20pt;
  color: #ccc;
  padding: 0 10px;
}



