/* Copyright 2013 Kalamuna LLC */

.license.modal textarea.license-agreement {
  height: 225px;
  width: 515px;
}

a.btn-help {
  text-decoration: none;
}

.icon-question-sign.icon-3 {
  font-size: 30px;
  vertical-align: bottom;
}

.centered {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

div.service-links.equidistant-row {
  max-width: 200px;
  margin: 0 auto;
}

.equidistant-row {
  text-align: justify;
}

.equidistant-row .btn {
  display: inline-block;
}

.equidistant-row:after {
  content: '';
  width: 100%;
  display: inline-block;
}

img.kalalogo {
  width: 250px;
  height: 250px;
  margin-top: 10px;
}

.jumbotron {
  margin: 40px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.kalagreen {
  color: #afd357;
}

.kalablue {
  color: #74b2e5;
}

.kalared {
  color: #ed6f90;
}

.kalapurple {
  color: #8a64a8;
}

.kalaorange {
  color: #faac48;
}

.kalayellow {
  color: #ffed90;
}

.icon-massive {
  font-size: 280px;
}

.icon-kalabox {
  width: 280px;
  height: 280px;
  background-image: url('/images/kalabox-logo.svg');
  background-size: 280px 280px;
  background-repeat: no-repeat;
  display: block;
  margin: auto;
}

.kalawrap {
  padding-left: 20px;
  padding-right: 20px;
}

.install #icoco {
  padding-top: 25px;
  padding-bottom: 15px;
}

.install .lead {
  margin-bottom: 40px;
  font-size: 30px;
}

.start .jumbotron {
  margin: 70px 0;
}

.btn-massive {
  width: 200px;
}

small {
  color: #999;
  font-size: 11px;
}

.nav-pills>.active>a,.nav-pills>.active>a:hover,.nav-pills>.active>a:focus
  {
  background-color: #afd357;
}

/* Error page */

.log-contents {
  width: 95%;
  height: 200px;
  margin: 0 auto;
}
