.jumbotron {
  margin: 40px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.kalagreen {
  color: #afd357;
}

.icon-massive {
  font-size: 280px;
}

#icoco {
  height: 200px;
  margin-top: 65px;
}