<div class="kala-modal remove-site-modal" data-bind="with: sites.remover">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Remove This Site</h3>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger">
      <p>This will remove the site's code, database, and files from the Kalabox.
        Are you sure you want to proceed?</p>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" data-bind="click: remove">
      Yes, Remove Site
    </button>
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
  </div>
</div>
